# SQL Exploration - Fraud Detection

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
from config import db_config

In [2]:
# Membuat koneksi
db_uri = (
    f"postgresql://{db_config['user']}:{db_config['password']}"
    f"@{db_config['host']}:{db_config['port']}/{db_config['dbname']}"
)

engine = create_engine(db_uri)

In [3]:
# Daftar nama file SQL yang ingin dieksekusi
sql_files = [
    "01_exploration.sql",
    "02_fraud_by_time.sql",
    "03_user_behavior.sql"
]

# Eksekusi dan tampilkan hasil dari tiap file SQL
for file_name in sql_files:
    file_path = os.path.join("../sql", file_name)
    print(f"Executing: {file_name}")
    
    with open(file_path, "r") as f:
        query = f.read()
    
    df = pd.read_sql_query(query, engine)
    
    print(f"Result preview from {file_name}:")
    display(df.head())
    print("\n" + "-"*60 + "\n")

Executing: 01_exploration.sql
Result preview from 01_exploration.sql:

   class  avg_amount  max_amount
0      0       88.29    25691.16
1      1      122.21     2125.87

------------------------------------------------------------

Executing: 02_fraud_by_time.sql
Result preview from 02_fraud_by_time.sql:

   hour  non_fraud  fraud
0   0.0     3961.0    2.0
1   1.0     2215.0    2.0
2   2.0     1555.0   21.0
3   3.0     1808.0   13.0
4   4.0     1076.0    6.0

------------------------------------------------------------

Executing: 03_user_behavior.sql
Result preview from 03_user_behavior.sql:

  amount_range  class  count
0          < 1      0  16736
1          < 1      1     68
2        > 100      0  57255
3        > 100      1    130
4         1-10      0  80329

------------------------------------------------------------